# Google API key
GOOGLE_API_KEY=AIzaSyByYibIwkl81QQABd_V26e9Xfpnsh5QNFU
OPENIA_MODEL=text-embedding-3-small
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/postgres
PGVECTOR_COLLECTION=gpt5_collection